# Carpetas de compilación e intermedias de .NET
bin/
obj/

# Configuraciones e historial de IDEs (Visual Studio / VS Code)
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de configuración con contraseñas o datos sensibles
appsettings.Development.json

# Paquetes y dependencias
*.nupkg
**/packages/